
# Configurações do Firebase (Copie estas chaves para o painel da Vercel)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDa8OLI63V9-1fHHdcoq8QJfn34FruLdsk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=barmate-lp3fo.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=barmate-lp3fo
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=barmate-lp3fo.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=162755937673
NEXT_PUBLIC_FIREBASE_APP_ID=1:162755937673:web:9fdcc382da93aaea3fcd58
